<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Menu"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".AddRoom"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Scene"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Planning"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Display_data"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".Manage_room"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".configPlanning"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>